bqplot
ipycanvas
ipyleaflet
ipywidgets>=7.6
jupyterlab_miami_nights
jupyterlab==3.1.0b1
jupyterlab-drawio
jupyterlite==0.1.0a5
theme-darcula
jupyterlab-fasta>=3,<4
jupyterlab-geojson>=3,<4
plotly>=5,<6
notebook>=6.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=8.1.0 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
